<!DOCTYPE html>

<html>
    <head>
        <title>
            Magpie Solutions!
        </title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>A smooth sea never made a skilled sailor</p>
        <img class='portrait' src="/img/cg.jpeg">
        </div>
        {{>footer}}
    </body>

</html>