<!DOCTYPE html>

<html>
    <head>
        <title>
            Products page!
        </title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <img class='prod-pic' src="https://dorakurimay.com/wp-content/uploads/2014/04/physics-of-flow.jpg">
        </div>
        {{>footer}}
    </body>

</html>